<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add name="HospitalMySql" connectionString="Server=hospital_db;Database=hospital_db;Uid=root;Pwd=vertrigo;Charset=utf8;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>
